html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: rgb(28, 169, 21);
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0;
}
header{
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    background-color: green;
    color: rgb(248, 0, 0);
}
header img{
    width: 80px;
    height: 80px;
}
section{
    border: 5px solid red;
    margin: 100px;
    border-radius: 25%;
    padding: 20px;
    text-align: center;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
    color: black;
}
h6{
    font-size: 30px;
}
footer{
    margin-top: auto;
    background-color: green;
}